* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: white; }

.container-menu {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .container-menu .menu div {
    /*menu desplegable info*/ }
    .container-menu .menu div a .menu_logo {
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 0 1rem;
      letter-spacing: 0.2rem;
      transition: all 1s ease; }
      .container-menu .menu div a .menu_logo:hover {
        transform: scale(1.1, 1.1); }
    .container-menu .menu div div ul li {
      padding: 0.5rem;
      transition: all 1s ease; }
      .container-menu .menu div div ul li:hover {
        transform: scale(1.1, 1.1); }
      .container-menu .menu div div ul li a {
        font-size: 1.2rem; }
      .container-menu .menu div div ul li ul li a {
        font-size: 0.8rem; }

/*se encuentra en page index*/
.contenido-principal .contenido-principal_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem;
  letter-spacing: 0.5rem; }

.contenido-principal .contenido-principal_carrousels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

/*se encuentra en page productos*/
.container-productos {
  /*Breadcrumb*/
  /*pagination*/ }
  .container-productos section nav {
    padding-left: 2rem;
    margin-top: 1rem; }
    .container-productos section nav ol li a {
      color: black;
      text-decoration: none;
      font-weight: bold; }
  .container-productos .productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center; }
    .container-productos .productos article {
      /*cards*/ }
      .container-productos .productos article div .card-price {
        font-weight: bold; }
      .container-productos .productos article div .card-btn {
        text-transform: uppercase;
        transition: all 0.5s ease; }
        .container-productos .productos article div .card-btn:hover {
          transform: scale(1.1, 1.1); }
  .container-productos nav ul li a {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #e9ecef;
    border-radius: 0.3rem;
    text-decoration: none;
    background-color: white;
    color: black;
    position: relative;
    display: block;
    transition: color .15s; }
    .container-productos nav ul li a:hover {
      z-index: 2;
      color: #0a58ca;
      background-color: #e9ecef;
      border-color: #dee2e6; }
  .container-productos nav ul li span {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #c4c4c4;
    border-radius: 0.3rem;
    text-decoration: none;
    background-color: black;
    color: white;
    position: relative;
    display: block;
    transition: color .15s; }

/*se encuentra en page contacto*/
.container-contact {
  /*title*/ }
  .container-contact section nav {
    padding-left: 2rem;
    margin-top: 1rem; }
    .container-contact section nav ol li a {
      color: black;
      text-decoration: none;
      font-weight: bold; }
  .container-contact .contact_title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    letter-spacing: 0.2rem; }
  .container-contact .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .container-contact .contact-info section ul {
      margin: 1rem;
      padding: 1rem; }
      .container-contact .contact-info section ul li {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        /*icons link*/ }
        .container-contact .contact-info section ul li img {
          padding-right: 0.5rem; }
        .container-contact .contact-info section ul li a {
          text-decoration: none;
          color: black; }
    .container-contact .contact-info section {
      /*formulario de contacto*/ }
      .container-contact .contact-info section .contact-form {
        margin: 1rem;
        padding: 1rem; }
        .container-contact .contact-info section .contact-form div {
          display: flex;
          flex-direction: column;
          align-items: center;
          /*boton contactar*/ }
          .container-contact .contact-info section .contact-form div .contact-form_btn {
            background-color: black;
            color: white;
            margin: 0.5rem;
            padding: 0 1.5rem;
            border: solid transparent;
            font-weight: bold;
            font-size: 1rem;
            line-height: 3rem; }

/*se encuentra en page preguntas*/
.container-preguntas {
  /*title*/ }
  .container-preguntas section {
    /*breadcrumb*/ }
    .container-preguntas section nav {
      padding-left: 2rem;
      margin-top: 1rem; }
      .container-preguntas section nav ol li a {
        color: black;
        text-decoration: none;
        font-weight: bold; }
  .container-preguntas .preguntas_title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 1rem;
    margin: 1rem; }
  .container-preguntas .preguntas {
    padding: 1rem;
    margin: 1rem;
    line-height: 2;
    letter-spacing: 2px;
    /*accordion*/ }
    .container-preguntas .preguntas div {
      padding: 0.5rem;
      margin: 0.5rem;
      /*respuesta*/ }
      .container-preguntas .preguntas div section button {
        z-index: 0;
        /*pregunta*/ }
        .container-preguntas .preguntas div section button h3 {
          padding: 0 0.5rem;
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;
          color: #aa75db; }
      .container-preguntas .preguntas div div div div p {
        font-size: 1.2rem; }
      .container-preguntas .preguntas div div div div h4 {
        font-size: 0.8rem;
        text-transform: uppercase;
        padding: 1rem;
        margin: 1rem; }
      .container-preguntas .preguntas div div div div ul li p {
        font-size: 0.8rem; }

/*se encuentra en page cambios*/
.container-cambios {
  /*title*/ }
  .container-cambios section {
    /*breadcrumb*/ }
    .container-cambios section nav {
      padding-left: 2rem;
      margin-top: 1rem; }
      .container-cambios section nav ol li a {
        color: black;
        text-decoration: none;
        font-weight: bold; }
  .container-cambios .cambios_title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    margin: 1rem; }
  .container-cambios .cambios {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 2px;
    padding: 1.5rem;
    margin: 1.5rem; }
    .container-cambios .cambios div {
      padding: 0.5rem;
      margin: 0.5rem;
      /*pregunta*/
      /*respuesta*/ }
      .container-cambios .cambios div h3 {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1rem;
        color: #aa75db; }
      .container-cambios .cambios div p {
        font-size: 1.2rem; }
    .container-cambios .cambios ul li p {
      font-size: 0.8rem; }

@media only screen and (max-width: 992px) {
  .container-menu .menu div a .menu_logo {
    transition: none; }
    .container-menu .menu div a .menu_logo:hover {
      transform: none; }
  .container-menu .menu div div ul li {
    transition: none; }
    .container-menu .menu div div ul li:hover {
      transform: none; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /*modalidades de pago*/
  /*modalidad de contacto*/ }
  footer .container-info {
    /*form newleter*/ }
    footer .container-info .info-newsltr {
      background-color: #e6e6e6;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      text-align: center; }
      footer .container-info .info-newsltr .newsltr_intro {
        font-size: 1rem;
        font-weight: bold; }
      footer .container-info .info-newsltr .newsltr_fieldset {
        font-size: 1rem;
        width: 20rem;
        margin: 1rem;
        padding: 0.5rem;
        border: solid #c4c4c4;
        color: #333333;
        background-color: white;
        font-weight: bold; }
      footer .container-info .info-newsltr .newsltr_btn {
        background-color: black;
        color: white;
        padding: 0.5rem;
        border: solid transparent;
        font-weight: bold;
        font-size: 1rem; }
  footer .info_title {
    font-size: 1.2rem;
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem; }
  footer .info-pagos ul, footer .info-contact ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.5rem;
    /*icons link*/ }
    footer .info-pagos ul li, footer .info-contact ul li {
      list-style-type: none;
      padding: 1rem; }
  footer .info-contact {
    /*icons link*/ }
  footer .info-prop {
    padding: 1rem 0;
    background-color: black;
    color: white;
    font-size: 1.2rem; }
