@import "variables";
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    div {
        .newsltr {
            background-color: $bg-grey;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: $pd-1;
            margin: 1rem 0;
            text-align: center;
            .newsltr-intro {
                margin: 0.5rem;
                font-size: $fs-2;
                font-weight: bold;
            }
            .newsltr-fieldset {
                font-size: $fs-2;
                width: 20rem;
                margin: 0.5rem;
                padding: 0.5rem;
                border: solid $color-grey;
                color: $color-dark-2;
                background-color: $bg-light;
                font-weight: bold;
            }
            .newsltr-btn {
                background-color: $bg-dark;
                color: $color-light;
                margin: 0.5rem;
                padding: 1rem;
                border: solid transparent;
                font-weight: bold;
                font-size: $fs-2;
            }
        }
    }
    h2 {
        font-size: $h2-fs;
        padding: $pd-1;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2rem;
    }
    .pagoycontacto {
        font-weight: bold;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: $pd-1;
            li {
                list-style-type: none;
                padding: 1rem;
            }
        }
    }
    .propietario {
        padding: 1rem 0;
        background-color: $bg-dark;
        color: $color-light;
        font-size: $fs-3;
    }
}