.contenedorgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

.headergrid {
    grid-area: header;
}

.mainigrid {
    grid-area: main;
}

.footergrid {
    grid-area: footer;
}