.contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

.header-grid {
    grid-area: header;
}

.maini-grid {
    grid-area: main;
}

.footer-grid {
    grid-area: footer;
}