header {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    nav {
        div {
            a {
                .logo {
                    font-size: 2rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
                    margin: 0.5rem;
                    padding: 0.5rem;
                    transition: all 2s ease;
                    &:hover {
                        transform: scale(1.1, 1.1)
                    }
                }
            }
            div {
                .listmenu {
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    li {
                        margin: 0.5rem;
                        padding: 0.5rem;
                        transition: all 2s ease;
                        &:hover {
                            transform: scale(1.1, 1.1)
                        }
                        a {
                            color: black;
                            padding: 0.5rem;
                            font-size: 1.5rem;
                            text-decoration: none;
                        }
                    }
                }
                form {
                    .boton {
                        background-color: black;
                        color: white;
                        border: solid transparent;
                        font-weight: bold;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}