@import "variables";
header {
    background-color: $bg-light;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    nav {
        div {
            a {
                .logo {
                    font-size: $h1-fs;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $color-dark;
                    margin: $mg-1;
                    padding: $pd-1;
                    transition: $transition-2;
                    &:hover {
                        transform: scale(1.1, 1.1)
                    }
                }
            }
            div {
                .listmenu {
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    li {
                        margin: $mg-1;
                        padding: $pd-1;
                        transition: $transition-2;
                        &:hover {
                            transform: scale(1.1, 1.1)
                        }
                        a {
                            color: $color-dark;
                            padding: $pd-1;
                            font-size: $fs-3;
                            text-decoration: none;
                        }
                    }
                }
                form {
                    .boton {
                        background-color: black;
                        color: white;
                        border: solid transparent;
                        font-weight: bold;
                        font-size: $fs-2;
                        transition: $transition-1;
                        &:hover {
                            border: $color-dark;
                            transform: scale(1.1, 1.1);
                            background-color: $bg-grey;
                            color: $color-dark;
                        }
                    }
                }
            }
        }
    }
}