@import "variables";
.mainindex {
    .inicioproductos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div {
            h3 {
                padding: $pd-2;
                margin: $mg-2;
                text-align: center;
            }
        }
    }
}

.mainproductos {
    .productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        article {
            div {
                .comprar {
                    text-transform: uppercase;
                    transition: $transition-1;
                    &:hover {
                        transform: scale(1.1, 1.1)
                    }
                }
            }
        }
    }
}

.maincontacto {
    h1 {
        font-size: $h1-fs;
        text-transform: uppercase;
        text-align: center;
        margin: $mg-2;
        padding: $pd-2;
    }
    .contacto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        section {
            ul {
                margin: $mg-2;
                padding: $pd-2;
                li {
                    margin: $mg-2;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    img {
                        padding-right: $pd-1;
                    }
                    a {
                        text-decoration: none;
                        color: $color-dark;
                    }
                }
            }
        }
        section {
            .formulario {
                margin: $mg-2;
                padding: $pd-2;
            }
        }
    }
}

.mainpreguntas {
    padding: $pd-2;
    margin: $mg-2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    h1 {
        font-size: $h1-fs;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        padding: $pd-2;
        margin: $mg-2;
    }
    .preguntas {
        line-height: 2;
        letter-spacing: 2px;
        div {
            padding: $pd-1;
            margin: $mg-1;
            section {
                button {
                    h3 {
                        padding: 0 0.5rem;
                        font-size: $h3-fs;
                        font-weight: bolder;
                        text-transform: uppercase;
                        color: $color-violet;
                    }
                }
            }
            div {
                div {
                    div {
                        p {
                            font-size: $fs-3;
                        }
                        h4 {
                            font-size: $h4-fs;
                            text-transform: uppercase;
                            padding: $pd-2;
                            margin: $mg-2;
                        }
                        ul {
                            li {
                                p {
                                    font-size: $fs-1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.maincambios {
    padding: $pd-2;
    margin: $mg-2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    h1 {
        font-size: $h1-fs;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        padding: $pd-2;
        margin: $mg-2;
    }
    .cambios {
        font-size: $fs-2;
        line-height: 2;
        letter-spacing: 2px;
        padding: $pd-3;
        margin: $mg-3;
        div {
            padding: $pd-1;
            margin: $mg-1;
            h3 {
                font-size: $h3-fs;
                font-weight: bolder;
                text-transform: uppercase;
                padding-bottom: $pd-2;
                color: $color-violet;
            }
            p {
                font-size: $fs-3;
            }
        }
        ul {
            li {
                p {
                    font-size: $fs-1;
                }
            }
        }
    }
}