$mg-1:0.6rem;
$mg-2:1.2rem;
$mg-3:1.8rem;
$pd-1:0.6rem;
$pd-2:1.2rem;
$pd-3:1.8rem;
$fs-1:0.4rem;
$fs-2:0.6rem;
$fs-3:0.8rem;
$h1-fs:2rem;
$h2-fs:1.6rem;
$h3-fs:1.2rem;
$h4-fs:0.8rem;
$bg-light:white;
$bg-dark:black;
$bg-grey:rgb(230, 230, 230);
$color-light:white;
$color-dark:black;
$color-violet:rgb(170, 117, 219);
$color-grey:rgb(196, 196, 196);
$color-dark-2:rgb(51, 51, 51);
$transition-1:all 0.5s ease;
$transition-2:all 1s ease;