@import "abstracts/variables";
@import "abstracts/mixin";
footer {
    @include flex-colum;
    justify-content: space-around;
    text-align: center;
    .container-info {
        /*form newleter*/
        .info-newsltr {
            background-color: $bg-grey;
            @include flex-row-wrap;
            justify-content: center;
            align-items: center;
            padding: $pd-2;
            text-align: center;
            .newsltr_intro {
                font-size: $fs-2;
                font-weight: bold;
            }
            .newsltr_fieldset {
                font-size: $fs-2;
                width: 20rem;
                margin: $mg-2;
                padding: $pd-1;
                border: solid $color-grey;
                color: $color-dark-2;
                background-color: $bg-light;
                font-weight: bold;
            }
            .newsltr_btn {
                background-color: $bg-dark;
                color: $color-light;
                padding: $pd-1;
                border: solid transparent;
                font-weight: bold;
                font-size: $fs-2;
            }
        }
    }
    /*modalidades de pago*/
    .info_title {
        font-size: $h3-fs;
        padding-top: $pd-2;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2rem;
    }
    .info-pagos {
        ul {
            @include flex-row-wrap;
            justify-content: center;
            padding: 0 $pd-1;
            /*icons link*/
            li {
                list-style-type: none;
                padding: 1rem;
            }
        }
    }
    /*modalidad de contacto*/
    .info-contact {
        /*icons link*/
        @extend .info-pagos;
    }
    .info-prop {
        padding: $pd-2 0;
        background-color: $bg-dark;
        color: $color-light;
        font-size: $fs-3;
    }
}