@media only screen and (max-width: 992px) {
    .container-menu {
        .menu {
            div {
                a {
                    .menu_logo {
                        transition: none;
                        &:hover {
                            transform: none;
                        }
                    }
                }
                div {
                    ul {
                        li {
                            transition: none;
                            &:hover {
                                transform: none;
                            }
                        }
                    }
                }
            }
        }
    }
}